<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">  
    
     
    
    <bean name="circle"  class="aop_Xml_config.model.Circle" >
       <property name="name" value= "circle name"/>
    
    </bean>
    
    <bean name="shapeService" class="aop_Xml_config.service.ShapeService" autowire="byName" >
    </bean>
    
    <aop:aspectj-autoproxy/>
    
    <bean name="loggingAspect" class="aop_Xml_config.aspect.LoggingAspect"   />
    
    <aop:config>
      <aop:aspect id="loggingAspect" ref="loggingAspect">
      
      <aop:pointcut expression="execution(public * get*())" id="allGETTERS"/>
      <aop:around method="aroundAdvice" pointcut-ref="allGETTERS"/>
      
     </aop:aspect>
    </aop:config>
  
 </beans>